@model MayAnh.Areas.Admin.Models.LoginAM
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<h2>Login</h2>
<div class="panel-body">
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" });
        <fieldset>
            <div class="form-group">
                @Html.TextBoxFor(model => model.username, new { @class = "form-control", @autofocus = "autofocus" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.password, new { @class = "form-control" })
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.remeberme) Nhớ Mật Khẩu

                </label>
            </div>
            <button type="submit" class="btn-btn-lg btn-success btn-block">Login</button>
        </fieldset>
    }
</div>
